body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    padding: 15px;
}
nav {
    background-color: green;
    color: white;
    padding: 2px 5px;
    text-align: center;
    
}
.next{
    padding: 10px;
    width: 100px;
    background-color: green;
    float: right;
    color: white;
    border-radius: 8px;
    font-size: xx-large;
   
}

        /* Additional CSS for timer styling */
        .timer-container {
            display: flex;
            align-items: center;
        }
        
        .timer-icon {
            margin-right: 10px; /* Adjust margin as needed */
        }

        #timer {
            font-size: 24px; /* Adjust font size as needed */
            color: white; /* Adjust color as needed */
            font-weight: bold; /* Add bold font weight */}

            .timer-container {
                display: flex;
                align-items: center;
            }
    
            .timer-icon {
                margin-right: 10px; /* Adjust margin as needed */
            }
            @media only screen and (max-width: 600px) {
                nav {
                    padding: 5px; /* Decrease padding */
                    font-size: 1.2rem; /* Decrease font size */
                }
            
                .next {
                    padding: 5px;
                    width: 80px; /* Decrease button width */
                    font-size: 1.2rem; /* Decrease font size */
                }
            }